<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>LAP-MART</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/adminSide/assets/images/favicon.png">
    <link href="/adminSide/assets/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a style="font-size:41px !important;font-weight:bold !important;color: blueviolet;"><p>LAP-MART</p></a>
									</div>
                                    <h4 class="text-center mb-4 text-white">Sign in Admin account</h4>
                                    <form action="/admin/adminLogin" method="POST" onsubmit="return myFunc1()" >
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Email</strong></label>
                                            <input type="email" class="form-control" id="loginEmail" name="email" onkeyup="emailValidate3()" >
                                             <span class="text-primary" id="email-error" style="color:red !important ;" ></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Password</strong></label>
                                            <input type="password" class="form-control"id="loginPassword" name="password" onkeyup="passValidate()" >
                                            <span class="text-primary" id="password-error" style="color:red !important ;"></span>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn bg-white text-primary btn-block">Sign Me In</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/adminSide/assets/vendor/global/global.min.js"></script>
    <script src="/adminSide/assets/js/custom.min.js"></script>
    <script src="/adminSide/assets/js/deznav-init.js"></script>

    <script src="/adminSide/adminjs/loginValidation.js"></script>

</body>

</html>