<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>

<div id="main-wrapper">

    {{>admin-header}}
    {{>admin-sideNavbar}}



    <div class="content-body">
        <div class="container-fluid">
            <!-- Add Order -->
            
            <div class="page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Brand</a></li>
                </ol>
            </div>
          <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Edit Brand</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                 <form action="/admin/editcatagory/{{Brand._id}}" method="post" enctype="multipart/form-data" >
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label>Brand Name</label>
                                            <input type="text" class="form-control" value="{{Brand.catagory}}"  id="catagoryId" name="catagory" >
                                            <span class="text-primary"  id="catagoryErr"style="color:red !important ;"  ></span>
                                        </div>
                                         <div class="form-group">
                                             <label>Choose Image File</label>
                                             <br>
                                             <img style="width:50px; height: 50px;" src="/brand-images/{{Brand._id}}.png" alt="" id="imgview">
                                             <br>
                                             <br>
                                             <input type="file" name="image" class="form-control" onchange="viewImage(event)" >
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">ADD Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- row -->
        </div>
    </div>
</div>
 



<script>
    function viewImage(event){
        document.getElementById('imgview').src=URL.createObjectURL(event.target.files[0])
    }
</script>