<div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <div id="main-wrapper">

		   {{>admin-header}}
	       {{>admin-sideNavbar}}

        <div class="content-body">
            <div class="container-fluid">
				<!-- Add Order -->
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="#">Products</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
					<div class="col-xl-8 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Products</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form action="/admin/addProduct" method="post" enctype="multipart/form-data" >

                                        {{!-- <div class="form-row"> --}}
                                            <div class="form-group">
                                                <label>Product Name</label>
                                                <input type="text" class="form-control" name="name" placeholder="enter the Product Name">
                                            </div>
                                            <div class="form-group">
                                                <label>Product Id</label>
                                                <input type="Text" class="form-control" name="prd_Id" placeholder="enter the product Id ">
                                            </div>
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input type="text" class="form-control" name="price" placeholder="enter the product price">
                                            </div>
											 <div class="form-group">
											      <label>Choose Catagory</label>
                                                  <select class="form-control form-control-lg default-select" name="catagory">
											    	 {{#each catagory}}
                                                   <option value="{{this._id}}">{{this.catagory}}</option>
                                                    {{/each}}
                                                   </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Stock</label>
                                                <input type="text" class="form-control" name="stock" placeholder="enter the product stock" >
                                            </div>
											 <div class="form-group">
                                                <label>Offer</label>
                                                <input type="text" class="form-control" name="offer" placeholder="enter the product offer" >
                                            </div>
										
                                                  <div class="form-group">
											      <label>Description</label>
                                                  <input type="text" class="form-control" name="description" placeholder="enter the product description" style="height:80px ;" >
                                              </div>
										
										      <div class="form-group">
                                                 <label>Choose Image File</label>
                                                 <input multiple type="file" id="product_images[]" accept="image/*r" name="image" class="form-control" >
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-5 px-5">Add Products</button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
                </div>
            </div>
        </div>
 
    </div>
