<div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="has-arrow ai-icon" href="/admin/" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                    </li>
                     <li><a class="has-arrow ai-icon" href="/admin/getCatagory" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Brand</span>
						</a>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Products</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="/admin/addProduct">Add Products</a></li>
                            <li><a href="/admin/listAllProduct">List Products </a></li>
                        </ul>
                    </li>
                 
                    <li><a class="has-arrow ai-icon" href="/admin/admin-users" aria-expanded="false">
							<i class="flaticon-381-internet"></i>
							<span class="nav-text">Users</span>
						</a>
                    </li>
                    <li><a class="has-arrow ai-icon" href="/admin/adminOrderList" aria-expanded="false">
							<i class="flaticon-381-notepad"></i>
							<span class="nav-text">Order</span>
						</a>
                        {{!-- <ul aria-expanded="false">
                            <li><a href="./form-element.html">Form Elements</a></li>
                            <li><a href="./form-wizard.html">Wizard</a></li>
                            <li><a href="./form-editor-summernote.html">Summernote</a></li>
                            <li><a href="form-pickers.html">Pickers</a></li>
                            <li><a href="form-validation-jquery.html">Jquery Validate</a></li>
                        </ul> --}}
                    </li>
                    <li><a class="has-arrow ai-icon" href="/admin/salesReports" aria-expanded="false">
							<i class="flaticon-381-network"></i>
							<span class="nav-text">Sales</span>
						</a>
                        {{!-- <ul aria-expanded="false">
                            <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="table-datatable-basic.html">Datatable</a></li>
                        </ul> --}}
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-layer-1"></i>
							<span class="nav-text">Pages</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>
			</div>
        </div>