               <!-- ----------------------------------------------------------------------- -->
               <!--                            LOGIN AND SIGN UP                            -->
               <!-- ----------------------------------------------------------------------- -->
  <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17">
    <div class="container">
      <div class="form-box">
        <div class="form-tab">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Sign UP</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">





                <!-- -------------------------------- LOGIN -------------------------------- -->

              <form name="" action="" method="">
                <div class="form-group">
                  <label for="singin-email-2">Username or email address</label>
                  <input type="text" class="form-control" id="singin-email-2" name="email">
                  <span class="text-primary" id="email-error" ></span>
                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="singin-password-2">Password</label>
                  <input type="password" class="form-control" id="singin-password-2" name="password" >
                  <span class="text-primary" id="password-error"></span>
                </div><!-- End .form-group -->

                <div class="form-footer">
                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>LOG IN</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>

                  <button  type="submit" class="btn btn-outline-primary-2">
                    <a href="#" class="forgot-link"><span>OTP</span><i class="icon-long-arrow-right"></i></a>
                    
                  </button>

                  <a href="" class="forgot-link">Forgot Your Password?</a>
                </div><!-- End .form-footer -->
              </form>
                           
            <!-- ------------------------------ LOGIN END ------------------------------ -->






              <div class="form-choice">
                <p class="text-center">or sign in with</p>
                <div class="row">
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login btn-g">
                      <i class="icon-google"></i>
                      Login With Google
                    </a>
                  </div><!-- End .col-6 -->
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login btn-f">
                      <i class="icon-facebook-f"></i>
                      Login With Facebook
                    </a>
                  </div><!-- End .col-6 -->
                </div><!-- End .row -->
              </div><!-- End .form-choice -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">






            <!-- ------------------------------- SIGN UP ------------------------------- -->

              <form name="" action="" method="" >

                <div class="form-group  ">
                  <label for="register-firstname-2">Firstname</label>
                  <input type="text" class="form-control" name="firstname"   id="signup-firstname">
                  <span class="text-primary" id="1sterror" ></span>

                </div><!-- End .form-group -->

                <div class="form-group  ">
                <label for="register-lastname-2">Lastname</label>
                  <input type="lastname" class="form-control"  name="lastname">
                  
                  <span class="text-primary" id="2nderror" ></span>
                 </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="register-mobile-2">Mobile no</label>
                  <input type="text" class="form-control" name="mobile">
                  <span class="text-primary" id="mobileerror" ></span>
                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="register-email-2">Your email address</label>
                  <input type="email" class="form-control"  name="email">
                  <span class="text-primary" id="emailerror" ></span>
                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="register-password-2">Password</label>
                <input type="password" class="form-control" name="password" >
                  <span class="text-primary" id="passworderror" ></span>
                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="register-password-2">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" >
                  <span class="text-primary" id="passworderror" ></span>
                </div><!-- End .form-group -->

                <div class="form-footer">
                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>SUBMIT</span>
                  </button>
                </div><!-- End .form-footer -->
              </form>
                                        
             <!-- ----------------------------- SIGNUP END ------------------------------ -->






              <div class="form-choice">
                <p class="text-center">or sign in with</p>
                <div class="row">
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login btn-g">
                      <i class="icon-google"></i>
                      Login With Google
                    </a>
                  </div><!-- End .col-6 -->
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login  btn-f">
                      <i class="icon-facebook-f"></i>
                      Login With Facebook
                    </a>
                  </div><!-- End .col-6 -->
                </div><!-- End .row -->
              </div><!-- End .form-choice -->
            </div><!-- .End .tab-pane -->
          </div><!-- End .tab-content -->
        </div><!-- End .form-tab -->
      </div><!-- End .form-box -->
    </div><!-- End .container -->
  </div><!-- End .login-page section-bg -->
  </main><!-- End .main -->

  