          <!-- ----------------------------------------------------------------------- -->
               <!--                            SIGN UP                            -->
               <!-- ----------------------------------------------------------------------- -->
  <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17">
    <div class="container">
      <div class="form-box">
        <div class="form-tab">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Sign UP</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">


              
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">






            <!-- ------------------------------- SIGN UP ------------------------------- -->

              <form onsubmit="return myFunc2()" name="" action="/userSignUp" method="POST" >

                <div class="form-group  ">
                  <label for="register-firstname-2">Firstname</label>
                  <input type="text" class="form-control" name="name" id="name" onkeyup="nameValidate2()">
                  <span class="text-primary" id="nameError" style="color:red !important ;" ></span>

                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="register-mobile-2">Mobile no</label>
                  <input type="text" class="form-control" name="mobile" id="mobNumber" onkeyup="mobileValiate2()" {{#if mobileErr}}value="{{mobileExist}}"{{/if}}>
                  <span class="text-primary" id="mobileerror" style="color:red !important ;"  ></span>

                    {{#if mobileErr}}
                    <p class="error" style="color:red;">mobile number is exist </p>
                    {{/if}} 


                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="register-email-2">Your email address</label>
                  <input type="email" class="form-control"  name="email" id="email" onkeyup="emailValidate2()" {{#if emailErr}}value="{{emailExiist}}"{{/if}} >
                  <span class="" id="emailerror" style="color:red !important ;"  ></span>

                   {{#if emailErr}}
                    <p class="error" style="color:red;">This email Id is exist </p>
                    {{/if}} 


                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="register-password-2">Password</label>
                <input type="password" class="form-control" name="password" id="password" onkeyup="passValidate2()" >
                  <span class="" id="passworderror" style="color:red !important ;"  ></span>
                </div><!-- End .form-group -->

                <div class="form-group">
                  <label for="register-password-2">Confirm Password</label>
                <input type="password" class="form-control" id="secondPassword" onkeyup="pass2Validate2() ">
                  <span class="" id="CheckPasswordMatch" style="color:rgb(255, 0, 0) !important ;"  ></span>
                </div><!-- End .form-group -->

                <div class="form-footer">
                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>SUBMIT</span>
                  </button>
                </div><!-- End .form-footer -->
              </form>
                                        
             <!-- ----------------------------- SIGNUP END ------------------------------ -->






              <div class="form-choice">
                <p class="text-center">or sign in with</p>
                <div class="row">
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login btn-g">
                      <i class="icon-google"></i>
                      Login With Google
                    </a>
                  </div><!-- End .col-6 -->
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login  btn-f">
                      <i class="icon-facebook-f"></i>
                      Login With Facebook
                    </a>
                  </div><!-- End .col-6 -->
                </div><!-- End .row -->
              </div><!-- End .form-choice -->
            </div><!-- .End .tab-pane -->
          </div><!-- End .tab-content -->
        </div><!-- End .form-tab -->
      </div><!-- End .form-box -->
    </div><!-- End .container -->
  </div><!-- End .login-page section-bg -->
  </main><!-- End .main -->

  
    {{>user-footer}}

<script src="/userSide/userjs/signupValidation.js"></script>