 {{>user-header}}
    <div class="page-wrapper">

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('userSide/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        {{!-- <li class="breadcrumb-item"><a href="#">Shop</a></li> --}}
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
			<div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Remove</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							{{#each wishList}}
							<tr>
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<a href="#">
												<img src="/product-images/{{this.image.[0]}}" alt="Product image">
											</a>
										</figure>

										<h3 class="product-title">
											<a>{{this.name}}</a>
										</h3><!-- End .product-title -->
									</div><!-- End .product -->
								</td>
								<td class="price-col">₹{{this.price}}</td>
								<td class="stock-col"><a href="" class="btn btn-danger mr-5" >Remove</a></td>
								<td class="action-col">
									<button class="btn btn-block btn-outline-primary-2"><i class="icon-cart-plus"></i>Add to Cart</button>
								</td>
								
							</tr>
								{{/each}}
						</tbody>
					</table><!-- End .table table-wishlist -->
	            	
            	</div><!-- End .container -->
            </div>
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
  <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

 {{>user-footer}}
    

     