<!DOCTYPE html>
<html lang="en">


<!-- molla/index-4.html  22 Nov 2019 09:53:08 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lap-mart eCommerce Template</title>
    
    {{#if admin}}
      
      {{!-- adminside --}}
    <link rel="icon" type="image/png" sizes="16x16" href="/adminSide/assets/images/favicon.png">
	<link rel="stylesheet" href="/adminSide/assets/vendor/chartist/css/chartist.min.css">
      <!-- Datatable -->
    <link href="/adminSide/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="/adminSide/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/adminSide/assets/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/adminSide/assets/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
     
    {{else}}

    <!-- Favicon  & user side -->
    <link rel="apple-touch-icon" sizes="180x180" href="userSide/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="userSide/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="userSide/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="userSide/assets/images/icons/site.html">
    <link rel="mask-icon" href="userSide/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="userSide/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="userSide/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="userSide/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="userSide/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="userSide/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="userSide/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="userSide/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="userSide/assets/css/style.css">
    <link rel="stylesheet" href="userSide/assets/css/skins/skin-demo-4.css">
    <link rel="stylesheet" href="userSide/assets/css/demos/demo-4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      {{/if}}
</head>

<body>

    {{#if admin}}
  
    {{else}}
   
    {{/if}}
    {{{body}}}



    {{#if admin}}

     <script src="/adminSide/assets/vendor/global/global.min.js"></script>
	<script src="/adminSide/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/adminSide/assets/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/adminSide/assets/js/custom.min.js"></script>
	<script src="/adminSide/assets/js/deznav-init.js"></script>
	<script src="/adminSide/assets/vendor/owl-carousel/owl.carousel.js"></script>
	
	<!-- Chart piety plugin files -->
    <script src="/adminSide/assets/vendor/peity/jquery.peity.min.js"></script>
	
	<!-- Apex Chart -->
	<script src="/adminSide/assets/vendor/apexchart/apexchart.js"></script>
	
	<!-- Dashboard 1 -->
	<script src="/adminSide/assets/js/dashboard/dashboard-1.js"></script>
	
	<script>
		function carouselReview(){
			/*  event-bx one function by = owl.carousel.js */
			jQuery('.event-bx').owlCarousel({
				loop:true,
				margin:30,
				nav:true,
				center:true,
				autoplaySpeed: 3000,
				navSpeed: 3000,
				paginationSpeed: 3000,
				slideSpeed: 3000,
				smartSpeed: 3000,
				autoplay: false,
				navText: ['<i class="fa fa-caret-left" aria-hidden="true"></i>', '<i class="fa fa-caret-right" aria-hidden="true"></i>'],
				dots:true,
				responsive:{
					0:{
						items:1
					},
					720:{
						items:2
					},
					
					1150:{
						items:3
					},			
					
					1200:{
						items:2
					},
					1749:{
						items:3
					}
				}
			})			
		}
		jQuery(window).on('load',function(){
			setTimeout(function(){
				carouselReview();
			}, 1000); 
		});
	</script>
   
    {{else}}

    <!-- Plugins JS File -->
    <script src="userSide/assets/js/jquery.min.js"></script>
    <script src="userSide/assets/js/bootstrap.bundle.min.js"></script>
    <script src="userSide/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="userSide/assets/js/jquery.waypoints.min.js"></script>
    <script src="userSide/assets/js/superfish.min.js"></script>
    <script src="userSide/assets/js/owl.carousel.min.js"></script>
    <script src="userSide/assets/js/bootstrap-input-spinner.js"></script>
    <script src="userSide/assets/js/jquery.plugin.min.js"></script>
    <script src="userSide/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="userSide/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="userSide/assets/js/main.js"></script>
    <script src="userSide/assets/js/demos/demo-4.js"></script>
       {{/if}}
</body>


<!-- molla/index-4.html  22 Nov 2019 09:54:18 GMT -->
</html>